body {background: rgb(72, 72, 95);
    background-size: cover;
    background-position-y: -20px;
}
#maudangki {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Login {
    max-width: 600px;
    background: rgb(0, 0, 0, 0,8);
    flex-grow: 2;
    padding: 40px 40px 60px;
    box-shadow: 0px 0px 20px 3px rgb(182, 142, 142);
}
.from_heading {
    font-size: 33px;
    color: #fff;
    text-align: center;
    margin-bottom: 35px;  
}
.from_box {
    border-bottom: 1px solid #fff;
    margin-top: 15px;
    margin-bottom: 20px;
}
.from_input {
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 17px;
    width: 100%;
}
.from_input::placeholder {
    color: #f5f2f2;
}
.from_nutdn {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    width: 100%;
    text-transform: uppercase;
    padding: 6px 10px ;
    transition: 0.3s ;
    margin-top: 30px;
}
.from_nutdn:hover {
    border: 1px solid rgb(119, 83, 35);
}
.row {
    color: #fff;
}
.table {
    color: rgb(221, 245, 245);
}