*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; /* Hành động cuộn */
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
}


#profile {
    background-color: aquamarine;
    width: 1000px;
    height: 800px;
    margin: 50px auto;
    display: flex;
}

.profile__container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

/* Begin Profile Avatar */

.profile__avatar {
    display: flex;
    width: 300px;
    height: 450px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: azure;
    margin: 24px 24px;
    box-shadow: 1px 1px 1px 0px #666;
}

.profile__avatar--full-name {
    margin-top: 24px;
}

.profile__avatar--last-name {
    margin: 10px 0;
}

.profile__avatar--img-container {
    display: flex;
    margin-bottom: 18px;
}

.profile__avatar--img {
    display: flex;
    flex-direction: row-reverse;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url('../img/anh1.jpg');
    background-size: cover;
}

.profile__avatar--icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #fff;
    background-color: aliceblue;
    width: 30px;
    height: 30px;
    margin: 6px 8px 0 0;
    border-radius: 50%;
}

.profile__avatar--img:hover,
.btn:hover,
.profile__avatar--icon:hover {
    opacity: 0.9;
    cursor: pointer;
}

.btn {
    background-color: rgb(235, 135, 42);
    width: 150px;
    height: 40px;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    border: none;
    box-shadow: 1px 1px 1px 0px #666;
}

.profile__avatar--update-img {
    margin-bottom: 12px;
}

.profile__avatar--notification {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(211, 238, 237);
    font-size: 12px;
    width: 240px;
    height: 80px;
    margin: 12px 4px;
    border-radius: 6px;
    border: 1px solid rgb(125, 125, 125);
    text-align: center;
    line-height: 1.4;
}


.notification__text--container {
    display: flex;
    justify-content: center;
}

.profile__avatar--date >p,
.notification__text--container >p {
    padding-right: 3px;
}

.profile__avatar--date {
    display: flex;
    margin: 12px 4px 24px 4px;
    font-size: 14px;
    align-items: center;
}

/* End Profile Avatar */

/* Begin Profile Edit */

.profile__edit {
    width: 600px;
    height: 700px;
    margin: 20px 20px;
    background-color: #f0ffff;
    box-shadow: 1px 1px 1px 0px #666;
}

.profile__edit--header {
    background-color: rgb(137, 200, 198);
    width: 100%;
    height: 144px;
    padding: 24px 24px;
}

.profile__edit--header h2 {
    padding: 12px 0;
    letter-spacing: 1px;
}

.profile__edit--header-nav {
    list-style: none;
    display: flex;
    margin: 32px 0 8px 0;
}

.profile__edit--header-nav >li {
    padding: 6px 32px 0px 0;
}

.profile__edit--header-nav >li >a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 600;
/*     opacity: 0.6; */
    opacity: 1;
    margin-bottom: 12px;
    letter-spacing: 1px;
}

.profile__edit--header-nav >li:nth-of-type(2) {
    opacity: 0.6;
}

.profile__edit--header-nav-slick-active {
    display: block;
    background-color: rgba(27, 27, 223, 0.53);
    border-radius: 4px;
    width: 100%;
    border: none;
    height: 4px;
    margin-top: 8px;
}

.profile__edit--header-nav >li :hover {
    content: "";
    cursor: pointer;
    height: 4px;
    opacity: 1;
    transition: width .3s linear,background-color .3s linear;
    width: 100%;
}

.profile__edit--body {
    padding: 24px 24px;
}

.profile__edit--body-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.profile__edit--body-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.profile__edit--body-info .profile__edit--body-content {
    display: flex;
    flex-direction: column;
    font-size:14px;
    letter-spacing: 1px;
    font-weight: 500;
    margin: 12px 12px 12px 0;
}

.profile__edit--body #input-content {
    margin: 12px 12px 12px 0px;
    padding: 8px;
    border-radius: 4px;
    font-size: 14px;
}

.profile__edit--body-social {
    margin: 12px 12px 12px 0;
}

.profile__edit--body-title {
    padding: 12px 12px 24px 0;
    letter-spacing: 1px;
}

.profile__edit--body--content-social {
    display: flex;
}

.icon__social--border {
    border: 1px solid gray;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.profile__edit--body-info .icon-social {
    width: 25px;
    height: 25px;

}

.profile__edit--body--content-social #input-social {
    border-radius: 0 4px 4px 0px;
    
}

.profile__edit--update-info {
    margin-top: 36px;
}
/* End Profile Edit */


