*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.count {
    width: 500px;
    height: 500px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

span{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 50px;
    color: rgb(227, 56, 56);
}
  
input{
    font-size: 30px;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
  
button {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}
  
button:hover {
    background-color: #45a049;
}
  
#result {
    font-size: 26px;
    font-weight: bold;
}