
.contact-page {
    margin-top: 120px;
}

.contact-page .left-container {
    background-color: #f7f7f7;
    border-radius: 25px;
    padding: 60px;         
}

.contact-page ul {
    margin-top: 50px;
    padding: 0;
}

.contact-page ul li {
    display: block;
    font-size: 16px;
    color: gray;
    font-weight: 300;
    margin-bottom: 30px;
}

.contact-page ul li span {
    display: block;
    color: #4a4a4a;
    font-weight: 800;
    margin-bottom: 8px;
}

.contact-page .right-container{
    margin-left: 50px;
}

.group-form textarea,
.group-form input {
    background-color: #f7f7f7;
}