
.single-product {
    margin-top: 120PX;
}

.product-img{
    margin-right: 85px;
    margin-bottom: 12px;
}

.product-img img{
    border-radius: 25px;
}

.single-product .price {
    margin-top: 33px;
    font-size: 27px;
    font-weight: 700;
    color: #0071f8;
}

.single-product .price em {
    font-style: normal;
    color: #c8c8c8;
    font-size: 17px;
    text-decoration: line-through;
    font-weight: 500;
    margin-right: 5px;
}

.single-product .cart-container {
    display: inline-block;
}

.btn-function {
    width: 80px;
    height: 50px;
    background-color: #f7f7f7;
    border: 1px solid #e7e7e7;
    border-radius: 25px;
    text-align: center;
    float: left;
    margin-right: 15px;
    font-weight: 500;
    margin-bottom: 8px;
}

.single-product-info {
    margin: 30px 0 0 0;
    padding: 0;
}

.single-product ul li {
    display: block;
    margin: 20px 0px;
    font-size: 14px;
    color: #0071f8;
    letter-spacing: 0.7px;
}

.single-product ul li span{
    width: 120px;
    display: inline-block;
    color: #aaa;
}

/* more-info */
.more-info {
    margin-top: 120px;
}

.info-content {
    background-color: #f7f7f7;
    border-radius: 25px;
    padding: 60px;
    transition: all 0.3s;
}

.info-content .nav-wrapper{
    border: none;
}
.info-content ul li:first-child{
    border-right: 1px solid #d7d7d7;
}
.info-content  .nav-item{
    margin-right: 30px;
    padding-right: 30px;
}

.info-content  .nav-link{
    border: none !important;
    background-color: #f7f7f7;
    color: #000;
    font-size: 24px;
    font-weight: 700;
}

.info-content  .active{
    color: var(--bs-nav-link-hover-color);
}
