*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-fluid{
    background-color:  rgb(59, 62, 62);;
    height: auto;
    padding: 15px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
}
.container{
    width: 500px;
    height: 500px;
    top: 50px;
    display: flex;
    position: relative;
    flex-direction: column;
    backdrop-filter: blur(5px);
    padding: 0 15px 0 15px;
    border-radius: 20px;
    border: 2px solid rgba(233, 226, 226, 0.5);
    backdrop-filter: blur(150px);
    transform: 0s;
    margin-top: 50px;
}
.navbar-img{
    width: 20%;
    height: 60px;
   display: flex;
}
.navbar-img img{
    object-fit: cover;
    margin-left: 10%;
    margin-bottom: 10px;
}
.navbar-toggler{
    margin-left: 0;
}
.navbar-collapse{
    margin-left: 12%;
    display: flex;
    justify-content: space-between;
}
.navbar-nav{
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}
.navbar-nav>li>a{
    position: relative;
}
.navbar-nav>li>a::before{
    content: "";
    height: 4px;
    width: 0px;
    background-color: rgb(245, 96, 96);
    border-radius: 5px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition: 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
}
.navbar-nav>li:hover>a::before{
    display: block;
    width: 100%;
}
.nav-item a{
    color: #ffffffce !important;
    font-family: Arial, Helvetica, sans-serif;
}
#bg-img{
    width: 100%;
    height: 100vh;
    position: absolute;
    object-fit: cover;
}
.box{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.form-control{
    border: 1px solid #ced4da ;
}
.heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icon img{
    object-fit: cover;
    border-radius: 100rem;
    width: 200px;
    height: 100px;
   flex-shrink: 0;
   margin-top: 40px;
}
h3{
    color: #fff;
    display: flex;
    justify-content: center;
    margin: 20px;
    font-size: 50px;
}
.input-group input{
    width: 100%;
    height: 50px;
    border-radius: 20px;
    margin-top: 20px;
    background: rgba(247, 247, 248, 0.1);
    border: none;
}
.input-group input:hover{
    background-color:rgb(233, 229, 223);
}
.input-group button{
    border-radius: 30px;
    margin-top: 20px;
    background: rgba(247, 247, 248, 0.1);
    height: 50px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-group {
    display: flex;
    justify-content: center;
}
span{
    display: flex;
    justify-content: center;
    margin: 15px;
}
a{
    text-decoration: none;
}
@media screen and (max-width: 576px) {
    .container {
        height: 500px;
        width: 300px;
    }
  }